---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$normal-font: "OpenSans-Regular",sans-serif;
$bold-font: "OpenSans-Semibold",sans-serif;
$light-font: "OpenSans-Light",sans-serif;
$base-line-height: 1rem;

$text-color:       #555;
$background-color: #fff;
$brand-color: 	  hsl(184, 95%, 35%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"normalize",
        "base",
		"rwd",
		"fonts"
;
