<footer class="site-footer">
	<div class="footer-item">
		<a target="_blank" href="../files/cv-magdalena-piatek.pdf">Curriculum&nbsp;vitae</a>
	</div>
	<div class="footer-item">
		<!--email_off-->
		<a href="mailto:kontakt@magdalena-piatek.pl" title="Napisz do mnie">kontakt@magdalena-piatek.pl</a>
		<!--/email_off-->
	</div>
	<div class="footer-item">
		<a target="_blank" href="https://www.linkedin.com/in/magdalena-pi%C4%85tek-297330a8/"
			title="Mój profil na LinkedIn">LinkedIn</a>
	</div>
	<div class="footer-item">
		<span>©&nbsp;2019&nbsp;Magdalena&nbsp;Piątek</span>
	</div>
</footer>