<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta http-equiv="Content-Type" content="Magdalena Piątek; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Magdalena Piątek - UX researcher, designer, badacz User Experience, planistka przestrzenna, wielbicielka zagadnień związanych z użytecznością i dostępnością aplikacji mobilnych oraz internetowych.">
	<meta name="keywords" content="user experience, ux, interaction design, user experience designer, user experience researcher"
	/>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:description" content="Magdalena Piątek - UX researcher, designer, badacz User Experience, planistka przestrzenna, wielbicielka zagadnień związanych z użytecznością i dostępnością aplikacji mobilnych oraz internetowych."
	/>
	<meta property="og:image" content="http://magdalena-piatek.pl/assets/img/photo.jpg" />
	<meta property="og:image:secure_url" content="https://magdalena-piatek.pl/assets/img/photo.jpg" />
	<meta property="og:url" content="https://magdalena-piatek.pl/" />
	<meta property="og:locale" content="pl_PL" />
	<meta property="og:locale:alternate" content="en_US" />
	<meta property="og:locale:alternate" content="en_GB" />
	<meta property="og:locale:alternate" content="de_DE" />
	<link rel="stylesheet" href="//brick.freetls.fastly.net/Alegreya+Sans:400">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
	<script>
		window.onscroll = function () {
			var elements = [
				document.querySelector(".site-header"),
				document.querySelector(".me h1"),
				document.querySelector(".me h2"),
				document.querySelector(".profile"),
				document.querySelector(".logo")
			]
			if (window.pageYOffset > 260) {
				for (var i = 0; i < elements.length; i++) {
					elements[i].classList.add("past");
				}
			} else {
				for (var i = 0; i < elements.length; i++) {
					elements[i].classList.remove("past");
				}
			}
		};
	</script>
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function () {
			var u = "//piwik.placetag.pl/";
			_paq.push(['setTrackerUrl', u + 'piwik.php']);
			_paq.push(['setSiteId', '1']);
			var d = document,
				g = d.createElement('script'),
				s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript';
			1
			g.async = true;
			g.defer = true;
			g.src = u + 'piwik.js';
			s.parentNode.insertBefore(g, s);
		})();
	</script>
	<noscript>
		<p>
			<img src="//piwik.placetag.pl/piwik.php?idsite=1&rec=1" style="border:0;" alt="" />
		</p>
	</noscript>
</head>