<a class="site-title" href="{{ site.baseurl }}/">
	<div class="profile"></div>
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/BPreplay:400,600">
	<link rel="stylesheet" href="//brick.freetls.fastly.net/Raleway:200,300,400">
	<link rel="stylesheet" href="//brick.freetls.fastly.net/Clear+Sans:400/Vollkorn:400/Latin+Modern+Roman:400">
	<link rel="stylesheet" href="//brick.freetls.fastly.net/Alegreya+Sans:400">
	<div class="me">
		<h1>MAGDALENA PIĄTEK</h1>
		<h2>Badacz i projektant UX</h2>
	</div>
</a>
<div class="line"></div>