body {
	font-family: $normal-font;
	color: $text-color;
}

.wrapper{
	max-width: 48rem;
	margin: 0 auto;
	background: #fff;
	padding: 0rem 1rem 1rem 1rem;
}

.site-header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	font-family: $normal-font;
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 10;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.site-header .profile{
	display: inline-block;
	background-image: url('../assets/img/photo.jpg');
	background-size: cover;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	min-width: 1.5rem;
	min-height: 1.5rem;
	margin-right: 1rem;
}

.site-header .site-title,
.site-header .site-title span{
	display: inline-flex;
	align-items: center;
	font-size: 0.583333333rem;
}
.site-header .site-title > span:nth-child(2){
	color: hsl(0, 0%, 50%)
}

.site-header .site-title > span:nth-child(3){
	color: #aaa;
	margin-left: 1rem;
}

.site-nav .page-link{
	margin-left: 1rem;
	font-size: 0.583333333rem;
}

.site-nav .page-link:hover{
	transition: color 400ms;
	color: $brand-color;
}

a{
	text-decoration: none;
}

a:link, a:visited{
	color: HSL(0, 0%, 50%);
}

h1, h2{
	color: HSL(0, 0%, 50%);
	font-family: $normal-font;
	font-weight: 100;
	text-align: left;
}

ul.skills{
	position: relative;
	left: -0.25rem;
	width: calc( 100% + .25rem);
	padding: 0 !important;
}

ul.skills, .projects {
	padding: 0;
	line-height: 2rem;
	max-width: none;
	flex-flow: row wrap;
	display: flex;
}

li.skill {
	background-color: HSL(0, 0%, 96%);
	display: inline-block;
	list-style: none;
	vertical-align: bottom;
	margin: .25rem;
	padding: .5rem;
	flex-grow: 1;
	text-align: center;
	line-height: 1rem;
	font-size: 0.75rem !important;
	color: hsl(0, 0%, 60%);
}

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}

// .page-content, .site-footer > * {
//     animation: fade-in 600ms;
//     animation-fill-mode: both;
// }

// .project:nth-child(1), li.skill:nth-child(1){ animation-delay:100ms; }
// .project:nth-child(2), li.skill:nth-child(2){ animation-delay:120ms; }
// .project:nth-child(3), li.skill:nth-child(3){ animation-delay:140ms; }
// .project:nth-child(4), li.skill:nth-child(4){ animation-delay:160ms; }
// .project:nth-child(5), li.skill:nth-child(5){ animation-delay:180ms; }
// .project:nth-child(6), li.skill:nth-child(6){ animation-delay:200ms; }
// .project:nth-child(7), li.skill:nth-child(7){ animation-delay:220ms; }
// .project:nth-child(8), li.skill:nth-child(8){ animation-delay:240ms; }
// .project:nth-child(9), li.skill:nth-child(9){ animation-delay:260ms; }
// .project:nth-child(10), li.skill:nth-child(10){ animation-delay:280ms; }
// .project:nth-child(11), li.skill:nth-child(11){ animation-delay:300ms; }
// .project:nth-child(12), li.skill:nth-child(12){ animation-delay:320ms; }
// .project:nth-child(13), li.skill:nth-child(13){ animation-delay:340ms; }
// .project:nth-child(14), li.skill:nth-child(14){ animation-delay:360ms; }
// .project:nth-child(15), li.skill:nth-child(15){ animation-delay:380ms; }
// .project:nth-child(16), li.skill:nth-child(16){ animation-delay:400ms; }
// .project:nth-child(17), li.skill:nth-child(17){ animation-delay:420ms; }

.projects{
	line-height: 0;
	position: relative;
	left: -0.25rem;
	width: calc( 100% + .5rem);
}

a.project{
	height: 12rem;
	flex-basis: calc(100% / 3 - 1rem);
	margin: .25rem;
	background-color: #fff;
	flex-grow: 1;
	background-size: cover;
	background-position: 50%;
	list-style: none;
}

.project-title i{
	font-size: 1.5rem;
	top: -.115rem;
	position: relative;
}

.project div {
    display: none;
	position: relative;
	height: 12rem;
	width: auto;
	background: hsla(0, 0%, 24%, 0.8);
	padding-top: 4.5rem;
}

.project div p{
	color: hsla(0, 0%, 95%, 0.9);
	text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
	text-align: center;
}

.project div hr{
	border: 0;
	height: 2px;
	background-color: hsl(0, 0%, 73%);
	width: 3.4rem;
	margin: 0 auto;
}

.project div p.project-title{
	color: hsla(0, 0%, 95%, 0.9);
	font-size: 1rem;
	padding-bottom: 0.458333334rem;
	font-family: $normal-font;
	word-spacing: -1.5px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.project div p.project-company{
	text-transform: uppercase;
	font-family: $normal-font;
	font-size: 0.5rem;
	font-weight: normal;
	padding-top: 0.229166667rem;
}

.project:hover div {
    display: block;
	background: hsla(0, 0%, 24%, 0.8);
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.project-title{
	color: #999;
}

.project-title > a:nth-child(1){
	font-size: 1.75rem;
}

.details{
	display: flex;
	flex-wrap: wrap;
}

.details .description{
	margin-bottom: 1rem;
}

.content p, .content li, .content ul, .content a, .content i, .site-footer {
	color: HSL(0, 0%, 60%);
	font-size: 0.833333333rem;
	line-height: 1.166666667rem;
}

.content ul{
	padding-top: .5rem;
}

.content a{
	color: hsl(183.9, 41.5%, 64.9%);
}

.content a:hover{
	color: #04a3ae;
	transition: color 200ms;
}

.content p{
	text-align: justify;
}

.project-image{
	margin-top: 1rem;
}

.project-image:last-child{
	margin-bottom: 1rem;
}

.project-image img{
	width: 100%;
}

.iphone-mockup{
	background-image: url("../assets/projects/stagelink/ux-research/iphone.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-color: #ededed;
	width: 100%;
	height: 36rem;
	margin-top: 1rem;
	display: flex;
}

.iphone-mockup img{
	width: 12rem;
	height: 21.333333333rem;
	top: 7.5rem;
	position: relative;
	margin: 0 auto;
	left: 0.1rem;
}

.container{
	display: flex;
	max-width: auto;
	flex-wrap: wrap;
}

.container .flow {
	display: flex;
	flex-flow: row wrap;
}

.container .flow p {
	flex-basis: calc( 100% - 10rem );
}

.container .flow .photo {
	margin-left: 2rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-image: url("../assets/img/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.site-footer {
	margin-top: 1.5rem;
	margin-bottom: .5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 0.583333333rem !important;
}

.site-footer > *:nth-child(-n + 2){
	padding-right: .5rem;
}

.site-footer .icon-mail{
	padding-right: .125rem;
}

.site-footer i{
	color: hsl(0, 0%, 76%);
}


.site-footer span, .site-footer a{
	color: #aaa;
	font-family: $normal-font;
	font-size: 0.583333333rem;
}
