* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

body {
	font-family: "Alegreya Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
	color: hsl(0, 0%, 20%);
	background: #fff;
}

.wrapper {
	margin: 0 auto;
	margin-top: 1rem;
	background: #fff;
}

.full-page-wrapper {
	animation: fade-in 100ms;
	animation-delay: 0s;
	animation-delay: 125ms;
}
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.site-title {
	display: flex;
	flex-flow: column;
	text-align: center;
	.profile {
		background-image: url("../assets/img/photo.jpg");
		background-size: cover;
		border-radius: 50%;
		width: 8rem;
		height: 8rem;
		margin: 1rem auto;
		box-shadow: 0em 0.875em 6.5em 0 #c3baba;
	}

	.me {
		* {
			text-align: center;
			margin: 0rem;
		}
		h1 {
			// color: rgb(255, 92, 92);
			// color: #ab6280;
			// color: #b35253;
			color: #fffef4;
			font-family: "Oswald";
			// background-color: #fdf7c3;
			// background-color: #fcf8d5;
			// background: linear-gradient(#fcf8d5, #fdf7c3);
			background-color: #a665b4;
			background-image: linear-gradient(135deg, #a665b4, #cf5858);

			padding: 0.33rem;
		}
		h2 {
			color: #c3baba;
			font-family: "Oswald Light";
			font-size: 1rem;
			margin-top: 0.33rem;
		}
	}
}

.site-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	background: $bg-color;
	position: sticky;
	top: 0;
	z-index: 10;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 0.25rem;
	font-family: "Oswald";

	.site-nav {
		.page-link {
			font-size: 0.708333333rem;
			padding: 1rem 2rem;
			color: #737373;

			&:hover {
				transition: color 400ms;
				color: #bb5e85;
			}

			&.active {
				color: #000;
			}
		}
	}
}

.line {
	background-image: url("../assets/ziggy-gray2.png");
	display: inline-block;
	width: 100%;
	height: 2rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: hsl(0, 0%, 45%);
}

h1,
h2 {
	color: hsl(0, 0%, 35%);

	font-family: "Oswald";
}

ul.req {
	padding-bottom: 1rem;
}

ul.skills,
.projects {
	padding: 0;
	line-height: 2rem;
	max-width: 35.5rem;
	flex-flow: row wrap;
	display: flex;
}

ul.skills {
	margin: 0.5rem 0;
}

li.skill {
	background-color: hsl(0, 0%, 97%);
	display: inline-block;
	list-style: none;
	flex-grow: 1;
	text-align: center;
	line-height: 2rem;
	margin: 0.25rem;
	padding: 0 0.5rem;
	font-size: 0.75rem !important;
	color: hsl(0, 0%, 60%);
}

.projects {
	line-height: 0;
	position: relative;
	left: -0.25rem;
	width: calc(100% + 0.5rem);
}

a.project {
	height: 12rem;
	flex-basis: calc(100% / 3 - 1rem);
	margin: 0.25rem;
	background-color: rgba(247, 247, 247, 0.95);
	flex-grow: 1;
	background-size: cover;
	background-position: 50%;
	list-style: none;
}

.project-title i {
	font-size: 1.5rem;
	top: -0.115rem;
	position: relative;
}

.project div {
	display: block;
	position: relative;
	height: 12rem;
	width: auto;
	padding-top: 4.5rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-webkit-transition: opacity 0.4s ease-in-out;
}

.project:hover div {
	visibility: visible;
	opacity: 1;
	background: hsla(0, 0%, 97%, 0.95);
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.project div p {
	color: hsl(0, 0%, 66%);

	text-align: center;
}

.project div hr {
	border: 0;
	height: 2px;
	background-color: hsl(0, 0%, 73%);
	width: 3.4rem;
	margin: 0 auto;
}

.project div p.project-title {
	color: hsl(0, 0%, 40%);
	font-size: 1.083333333rem;
	padding-bottom: 0.458333334rem;
	word-spacing: -1.5px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.project div p.project-company {
	text-transform: uppercase;
	font-size: 0.666666667rem;
	padding-top: 0.229166667rem;
	font-family: $bold-font;
	color: hsl(0, 0%, 40%);
}

.project-image {
	margin-top: 1rem;
}

.project-image:last-child {
	margin-bottom: 1rem;
}

.project-image img {
	width: 100%;
}

.iphone-mockup {
	background-image: url("../assets/projects/stagelink/ux-research/iphone.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-color: #ededed;
	width: 100%;
	height: 36rem;
	margin-top: 1rem;
	display: flex;
}

.iphone-mockup img {
	width: 12rem;
	height: 21.333333333rem;
	top: 7.5rem;
	position: relative;
	margin: 0 auto;
	left: 0.1rem;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;

	.about,
	.content {
		padding: 0 2rem;
		p {
			font-size: 0.875rem;
			line-height: 1.4rem;
			text-align: justify;
			max-width: 35rem;
			color: #333;
		}
	}
}

.site-footer {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 0.708333333rem !important;
	font-family: $bold-font;
}

.site-footer > *:nth-child(-n + 2) {
	padding-right: 0.5rem;
}

.site-footer .icon-mail {
	padding-right: 0.125rem;
}

.site-footer i {
	color: hsl(0, 0%, 76%);
}

.site-footer span,
.site-footer a {
	color: hsl(0, 0%, 50%);
	font-size: 0.708333333rem;
}
