* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-kerning: auto;
}

body {
	font-family: "Alegreya Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
	color: hsl(0, 0%, 20%);
	background: #fff;
}

.wrapper {
	margin: 0 auto;
	margin-top: 1rem;
	background: #fff;
}

.animation-content {
	animation: fade-in 400ms;
	animation-delay: 0s;
}
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.site-title {
	display: flex;
	flex-flow: column;
	text-align: center;
	margin-top: 0.5rem;

	.profile {
		background-image: url("../assets/img/photo.jpg");
		background-size: cover;
		border-radius: 50%;
		width: 8rem;
		height: 8rem;
		margin: 1rem auto;
		box-shadow: 0em 0.875em 6.5em 0 #c3baba;
	}
}

.me {
	* {
		text-align: center;
		margin: 0rem;
	}
	h1 {
		// color: rgb(255, 92, 92);
		// color: #ab6280;
		// color: #b35253;
		color: #fffef4;
		font-family: "Oswald";
		// background-color: #fdf7c3;
		// background-color: #fcf8d5;
		// background: linear-gradient(#fcf8d5, #fdf7c3);
		background-color: #a665b4;
		background-image: linear-gradient(135deg, #a665b4, #cf5858);

		padding: 0.33rem;
	}
	h2 {
		color: #c3baba;
		font-family: "Oswald Light";
		font-size: 1rem;
		margin-top: 0.33rem;
	}
}

.site-header {
	background: $bg-color;
	position: sticky;
	top: -1px;
	z-index: 1;
	font-family: "Oswald";
	display: grid;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.04);

	.site-nav {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		max-width: 36rem;
		margin: 0 auto;

		.page-link {
			font-size: 0.708333333rem;
			padding: 1rem;
			color: hsl(0, 0%, 45%);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 7rem;

			&:hover {
				transition: color 400ms;
				color: #bb5e85;
			}

			&.active {
				color: #000;
			}
		}
	}
}

.line {
	background-image: url("../assets/ziggy-gray2.png");
	display: inline-block;
	width: 100%;
	height: 2rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: hsl(0, 0%, 45%);
}

h1,
h2 {
	color: hsl(0, 0%, 35%);

	font-family: "Oswald";
}

ul.req {
	padding-bottom: 1rem;
}

ul.skills {
	padding: 0;
	line-height: 2rem;
	max-width: 35.5rem;
	flex-flow: row wrap;
	display: flex;
}

ul.skills {
	margin: 0.5rem 0;
}

li.skill {
	background-color: hsl(0, 0%, 97%);
	display: inline-block;
	list-style: none;
	flex-grow: 1;
	text-align: center;
	line-height: 2rem;
	margin: 0.25rem;
	padding: 0 0.5rem;
	font-size: 0.75rem !important;
	color: hsl(0, 0%, 60%);
}

.projects {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 42rem;
	margin: 0 auto;

	.project-link {
		flex-basis: 12rem;
		flex-shrink: 1;
		margin: 1rem;
		flex-grow: 0.25;

		.cover {
			height: 7rem;
			background-size: cover;
			background-repeat: no-repeat;
			border: 1px solid rgba(0, 0, 0, 0.15);
		}

		.description {
			padding-top: 1rem;

			h3 {
				font-size: 1rem;
				line-height: 1.1rem;
				color: hsla(0, 0%, 0%, 0.8);
				margin-bottom: 0.5rem;
			}

			p {
				color: #00000080;
				font-size: 0.875rem;
				margin-bottom: 0.5rem;
			}
		}

		.meta {
			display: flex;
			flex-flow: row;
			flex-wrap: nowrap;
			align-items: center;

			.badge {
				background-color: hsl(0, 7%, 92%);
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 50%;
				width: 1.5rem;
				height: 1.5rem;
				margin-right: 0.25rem;
			}

			.data {
				display: flex;
				flex-flow: column;

				* {
					line-height: 0.8rem;
				}

				.company {
					// color: #cf5858;
					// color: #00000080;
				}
			}
		}
	}
}

.iphone-mockup {
	background-image: url("../assets/projects/stagelink/ux-research/iphone.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	background-color: #ededed;
	width: 100%;
	height: 36rem;
	margin-top: 1rem;
	display: flex;
}

.iphone-mockup img {
	width: 12rem;
	height: 21.333333333rem;
	top: 7.5rem;
	position: relative;
	margin: 0 auto;
	left: 0.1rem;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;

	.about,
	.content {
		padding: 0 2rem;
		p {
			font-size: 0.875rem;
			line-height: 1.4rem;
			text-align: justify;
			max-width: 35rem;
			color: #333;
		}
	}
}

.site-footer {
	display: grid;
	flex-flow: row wrap;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	max-width: 26rem;
	margin: 0.5rem auto 2rem;

	.footer-item {
		display: grid;
		align-items: center;
		justify-items: center;
	}
}
