.hamburger {
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	width: 1rem;
	height: 1rem;
	// padding: 1.180555555rem 1.5rem;
	padding: 1.225rem 1.5rem;
}
.hamburger:hover {
	opacity: 0.7;
}

.hamburger-box {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	position: relative;
	top: -0.6rem;
	left: -0.5rem;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 1rem;
	height: 4px;
	background-color: hsl(0, 0%, 75.1%);
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: '';
	display: block;
}
.hamburger-inner::before {
	top: -8px;
}
.hamburger-inner::after {
	bottom: -8px;
}
.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 0;
	transition-duration: 0.13s;
	// transition-delay: 0.13s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
	top: -16px;
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
		opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
	transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
		transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
	transform: translate3d(0, -10px, 0) rotate(-45deg);
	// transition-delay: 0.22s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
		opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
	top: 0;
	transform: rotate(-90deg);
	transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
		transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media all and (max-width: 62em) {
	.wrapper {
		padding-top: 3rem;
	}

	.site-header {
		border: none;
		display: flex;
		flex-flow: column;
		// background: none;
		height: 2.5rem;
		&.past {
			// background: none;
		}

		.site-nav {
			display: flex;
			flex-flow: column;
			position: relative;
			// transition: all 200ms;
			background: #fff;
			width: calc(100% - 2rem);
			margin: 0 1rem;

			&.collapsed {
				// display: none;
				top: -16rem;
			}

			&.expanded {
				// display: flex;
				top: 0;
				box-shadow: 0rem 1rem 15rem 0 #c3baba;
				min-height: calc(2.5rem * 4 - 4px);
			}

			.page-link {
				-ms-grid-column: none;
				grid-column: none;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				width: 100%;
				padding: 0.708333333rem;
				min-height: calc(2.5rem - 1px);
				background: #fff;
			}

			.logo {
				display: none;
			}
		}

		.mobile-navbar {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-content: center;
			// padding: 0.5rem;
			z-index: 2;
			transition: all 400ms ease-in-out;
			border-bottom: 2px solid rgba(0, 0, 0, 0.04);
			box-shadow: 0rem 0rem 0.5rem 0 hsl(0, 7%, 96%);
			background: #fff;
			min-height: 2.5rem;
			.logo {
				font-family: 'Oswald';
				padding: 0.708333333rem 1rem;
				font-size: 0.708333333rem;
				background: linear-gradient(135deg, #a665b4, #cf5858);
				-webkit-background-clip: text;
				-webkit-text-fill-color: hsla(0, 55.3%, 57.8%, 0.75);
				-webkit-opacity: 1;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			.hamburger {
				// visibility: hidden;
				// opacity: 0;
				transition: all 400ms;
			}
		}
	}

	.expanded + .overlay {
		position: absolute;
		top: 2.5rem;
		width: 100%;
		height: calc(100vh - 2.5rem - 2px);
		z-index: -1;
		min-height: 100vh;
	}

	.site-title,
	.me {
		display: none;
	}

	.top {
		display: none;
	}

	.line:nth-child(1) {
		margin-top: 0.5rem;
	}

	.header {
		padding: 0 1rem;
	}

	.container {
		.project,
		.content,
		.gallery {
			padding: 0 1rem;
		}
	}

	.container {
		.about{
			padding: 1rem 1rem 0 1rem;
		}
	}

	ul.skills {
		max-width: 39rem;
		padding: 0 1rem;
	}
	li.skill {
		padding: 0.5rem 0.5rem;
		line-height: 1rem;
	}
}

@media all and (max-width: 48em) {
	.header {
		h1 {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}
	.container {
		.about {
			p,
			a {
				font-size: 0.75rem;
				line-height: 1.2rem;
			}
		}
		.project {
			p,
			a,
			i,
			.requirements,
			.requirement {
				font-size: 0.75rem;
				line-height: 1.2rem;
			}
			h2 {
				font-size: 1rem;
				line-height: 1.25rem;
			}
		}
		.content {
			p,
			a {
				font-size: 0.75rem;
				line-height: 1.2rem;
			}
		}
	}

	.projects .project-link .description {
		h3 {
			font-size: 0.875rem;
			line-height: 1rem;
		}

		p {
			font-size: 0.75rem;
			line-height: 0.875rem;
		}
	}
}

@media all and (max-width: 38em) {
	.header {
		.metadata {
			flex-wrap: wrap;
			flex-flow: column;
			align-items: flex-start;
			.data {
				border-right: 0;
			}

			.description {
				padding-left: 0;
				margin-top: 0.5rem;
			}
		}

		h1 {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}
	.site-footer {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;

		.footer-item {
			display: inline-block;
			padding-bottom: 0.5rem;
		}
	}
}

@media all and (max-width: 36em) {
	.iphone-mockup {
		background-image: none;
		background-color: #fff;
		height: auto;
		img {
			width: 12rem;
			height: 21.333333333rem;
			margin: 0 auto;
			top: 0;
			left: 0;
		}
	}
}

@media all and (max-width: 30em) {
}

@media all and (max-width: 27em) {
	.projects .project-link {
		flex-basis: auto;
	}
}

@media all and (max-width: 24em) {
	ul.skills {
		flex-flow: column;
		width: 100%;
		margin: 0.25rem 0;
		padding: 0 0.75rem;
	}
	.iphone-mockup img {
		width: 100%;
		height: auto;
	}
}
