@media all and (max-width: 62rem) {
	.wrapper {
		background-color: lightcyan;
	}

	.site-header {
		.site-nav {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 1fr);
			.page-link {
				grid-column: auto !important;
			}
		}
	}
}

@media all and (max-width: 48rem) {
}

@media all and (max-width: 40rem) {
}

@media all and (max-width: 36rem) {
	.iphone-mockup {
		background-image: none;
		background-color: #fff;
		height: auto;
		img {
			width: 12rem;
			height: 21.333333333rem;
			margin: 0 auto;
			top: 0;
			left: 0;
		}
	}
}

@media all and (max-width: 30rem) {
}

@media all and (max-width: 27rem) {
}

@media all and (max-width: 24rem) {
	.iphone-mockup img {
		width: 100%;
		height: auto;
	}
}
