---
layout: default
---
<header class="header">
	<div class="metadata">
		<div class="badge-container">
			<div class="badge" style="background-image: url({{ page.badge }});"></div>
			<div class="data">
					<div class="company">{{page.company}}</div>
					<div class="datetime">{{page.datetime}}</div>
			</div>
		</div>
		<div class="description">
			{{page.methods}}
		</div>
	</div>
	<h1 class="project-title">{{ page.title }}</h1>
</header>
<div class="container">
	<div class="project">
		{{ content }}
	</div>
</div>
<script src="../assets/scripts/gallery/luminous.min.js"></script>
<script>
	new LuminousGallery(document.querySelectorAll('.item'), {}, {
		// closeOnScroll: truẹ
	});
</script>
<link rel="stylesheet" href="../assets/scripts/gallery/luminous-basic.min.css" />
