---
layout: default
---
<header class="header">
	<h1 class="title">{{ page.title }}</h1>
</header>
<div class="content">
	<div class="projects">
	{% for project in site.projects %}
	<a class="project-link project" href={{project.permalink}} style="background-image: url({{ project.cover }}); flex-basis: {{project.flex-basis}};">
		<div>
			<p class="project-title">{{ project.title }}</p>
			<hr />
			<p class="project-company">{{ project.company }}</p>
		</div>
	</a>
	{% endfor %}
	</div>
</div>
