---
layout: default
---
<div class="content">
	<div class="projects">
	{% for project in site.projects %}
		<a class="project-link" href={{project.permalink}}>
			<div class="cover" style="background-color: {{project.cover-background}}; background-image: url({{ project.cover }});  {% if project.background-position %} background-position: {{project.background-position}} {% endif %}"></div>
			<div class="description">
				<h3 class="title">{{ project.title }}</h3>
				<p class="short-description">{{ project.short-description }}</p>
			</div>
			<div class="metadata">
				<div class="badge" style="background-image: url({{ project.badge }});"></div>
				<div class="data">
					<div class="company">{{project.company}}</div>
					<div class="datetime">{{project.datetime}}</div>
				</div>
			</div>
		</a>
	{% endfor %}
	</div>
</div>
