---
layout: default
---
{% comment %} <header class="header">
	<h1 class="title">{{ page.title }}</h1>
</header> {% endcomment %}
<div class="content">
	<div class="projects">
	{% for project in site.projects %}
		<a class="project-link" href={{project.permalink}}>
			<div class="cover" style="background-image: url({{ project.cover }});"></div>
			<div class="description">
				<h3 class="title">{{ project.title }}</h3>
				<p class="short-description">{{ project.short-description }}</p>
			</div>
			<div class="meta">
				<div class="badge" style="background-image: url({{ project.badge }});"></div>
				<div class="data">
					<div class="company">{{project.company}}</div>
					<div class="datetime">{{project.datetime}}</div>
				</div>
			</div>
		</a>
	{% endfor %}
	</div>
</div>
